@import url(https://fonts.googleapis.com/css?family=Quicksand:300);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);


/* macro */
.box {
  position: relative;
  top: 0;
  width: 100%;
  height: 1000px;
  left: 0px;
}
h1 {
  position: relative;
  font-family: montez, sans-serif;
  margin: 0;
}
h2 {
  position: relative;
}
p {
  position: relative;
}

/*Panel*/
#panel_background {
  position: fixed;
  background-color: rgba(0,220,180, 0.8);
  height: 0px;
  width: 100%;
  left: 0px;
  top: 0px;
}
ul {
  position: absolute;
  top: 20px;
  right: -500px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(0,196,180);
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-family: "Ubuntu"
}

/*** SCREEN 1 ***/
body {
  margin: 0;
}
#app_presentation_box {
  top: 0px;
  height: 1000px;
  top: 0px;
  left: 0px;
  width: 100%;
}
#background_img {
  position: fixed;
  width: 100%;
}
#background_filter1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-color: rgba(0,99,108,0.9);
}
#logo1 {
  text-align: center;
  font-size: 12em;
  color: white;
  font-weight: normal;
  top: 180px;
}
#logo2 {
  text-align: center;
  font-size: 35px;
  color: white;
  top: 100px;
  font-family: Roboto;
  font-weight: 300;
}
#down_logo {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 4%;
  top: 500px;
}
#watch {
  position: absolute;
  top: 600px;
  margin-left: 150px;
  width: 17%;
}
#front-page-text {
  text-align: center;
  font-size: 30px;
  color: white;
  top: 150px;
  font-weight: 100;
  font-family: "Roboto", monospace;
}

/*** Pre-presentation ***/

#pre_presentation {
  height: 300px;
}
.minibox {
  position: absolute;
  width: 33%;
  height: 100%;
}
.minibox_text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 30px;
  font-weight: 300;
  font-size: 70px;
}
#minibox_wheel {
  height: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 10%;
}
#left_box {
  background-color: rgba(214,71,51,0.7);
}
#middle_box {
  left: 33%;
  width: 34%;
  background-color: rgba(255,255,255,0.7);
}
#right_box {
  right: 0;
  background-color: rgba(214,71,51,0.7);
}

/*** SCREEN 2 ***/
#app_presentation_box {
  background-color: rgba(255,255,255,0.95);
  height: 900px;
}
#app_screen_title {
  position: relative;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  margin-top: 220px;
  margin-left: 18%;
  font-size: 50px;
  color: rgb(214,71,51);
  float: left;
  display: inline;
}
#app_screen_text {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}
#app_box {
  position: relative;
  margin-top: 120px;
  height: 650px;
  width: 292px;
  margin-right: 20%;
  float: right;
  display: inline;
}
#frontscreen {
  position: relative;
  height: 600px;
  top: 0px;
}
#try_it {
  position: relative;
  text-align: center;
  font-family: Montez, serif;
  margin: 0px;
  color: black;
  font-size: 50px;
}
#sitemap_button {
  position: absolute;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  border-color: rgb(214,71,51);
  top: 50%;
  left: 20%;
  height: 50px;
  width: 250px;
  text-decoration: none;
}
#sitemap_button_text {
  text-align: center;
  font-family: roboto, sans-serif;
  color: rgb(214,71,51);
}
/* APP INTERACTION */
.buttons_app {
  position: absolute;
  background-color: rgba(0,0,0,0);
}
#buttons_app_transfer {
  height: 71px;
  width: 145px;
  top: 170px;
  left: 70px;
  visibility: visible;
}
#buttons_app_withdraw {
  height: 71px;
  width: 145px;
  top: 310px;
  left: 70px;
  visibility: visible;
}
#buttons_app_back {
  height: 40px;
  width: 40px;
  top: 140px;
  left: 18px;
  visibility: hidden;
}
#buttons_app_transfergo {
  height: 42px;
  width: 180px;
  top: 243px;
  left: 60px;
  visibility: hidden;
}
#buttons_app_withdrawgo {
  height: 42px;
  width: 180px;
  top: 243px;
  left: 60px;
  visibility: hidden;
}
#buttons_app_info {
  height: 90px;
  width: 140px;
  top: 450px;
  left: 75px;
  visibility: visible;
}
#buttons_app_infoback {
  height: 60px;
  width: 140px;
  top: 60px;
  left: 72px;
  visibility: hidden;
}

  /*** SCREEN PICTURES ***/
#pictures_box {
  width: 100%;
  height: 500px;
  }
#pictures_img {
  width: 100%;
  height: 100%;
}
#simple {
  position: fixed;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 100px;
  color: rgb(0,220,180)

}

/*** SCREEN 3 ***/
#mission_box {
  background-color: rgba(214,71,51,0.95);
}
#mission_title {
  text-align: center;
  top: 150px;
  color: black;
  margin: 0;
  font-weight: 300;
  font-family: "Roboto", monspace;
  font-size: 45px;
}
#mission_graph {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 180px;
}
#mission_text {
  position: relative;
  text-align: center;
  color: black;
  top: 160px;
  font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 20px;
}
#business_button {
  position: relative;
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(214,71,51);
  border-color: black;
  top: 20%;
  height: 50px;
  width: 250px;
  text-decoration: none;
}
#business_button_text {
  text-align: center;
  font-family: roboto, sans-serif;
  color: black;
}
/*** SCREEN 4 ***/

#contact_box {
  background-color: rgb(255,255,255);
  height: 1000px;
}
#contact_title {
  text-align: center;
  top: 150px;
  color: black;
  margin: 0;
  font-weight: 300;
  font-family: "Roboto", monspace;
  font-size: 45px;
}
.contact_text {
  position: relative;
  text-align: center;
  display: inline;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  margin-top: 250px;
  line-height: 35px;
}
#contact_felix {
  float: left;
  margin-left: 25%;
}
#contact_christian {
  float: right;
  margin-right: 25%;
}
#adress {
  position: relative;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  margin-top: 500px;
}
